html {
   font-family: Arial, sans-serif;
}

body {
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: #0085ff;
}
a:hover {
  text-decoration: underline;
}

#displayCanvas {
  border: 1px solid #d3d3d3;
}

#canvasContainer {
  display: flex;
  margin: 1rem auto;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
}

#drawingProgressElement {
  width: 100%;
}

#saveAsImageButton {
  margin-left: auto;
}

h1 {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}

main {
  max-width: 30rem;
  margin: auto;
}

.controls {
  margin: 2rem 0;
}
.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

footer {
  text-align: center;
}
